<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {{ render(controller('BlogMainBundle:Default:mainMetaTag')) }}
    {% image '@BlogMainBundle/Resources/public/bootstrap/favicon.ico' output='assets/img/favicon.ico' %}
    <link href="{{ asset_url }}" alt="Blog favicon" rel="icon">
    {% endimage %}

    {% stylesheets
    'bundles/blogmain/bootstrap/css/bootstrap.min.css'
    'bundles/blogmain/bootstrap/css/blog.css'
    filter='cssrewrite'
    output='assets/css/compiled/main.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {#<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>#}
    {% block stylesheets %}
    {% endblock stylesheets %}

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item {% if app.request.get('_route') == 'blog_main_homepage' %}active{% endif %}" href="{{ path('blog_main_homepage') }}">Home</a>
            <a class="blog-nav-item {% if app.request.get('_route') == 'blog_main_about' %}active{% endif %}" href="{{ path('blog_main_about') }}">About</a>
            {% if app.user %}
                <a class="blog-nav-item {% if app.request.get('_route') == 'user_logout' %}active{% endif %}" href="{{ path('user_logout') }}">Logout</a>
                <a class="blog-nav-item {% if app.request.get('_route') == 'user_logout' %}active{% endif %}" href="">Profile</a>
            {% else %}
                <a class="blog-nav-item {% if app.request.get('_route') == 'user_register' %}active{% endif %}" href="{{ path('user_register') }}">Register</a>
                <a class="blog-nav-item {% if app.request.get('_route') == 'user_login' %}active{% endif %}" href="{{ path('user_login') }}">Login</a>
            {% endif %}
            <a class="blog-nav-item" href="{{ path('admin.login') }}" style="float:right;">Admin login</a>
        </nav>
    </div>
</div>

<div class="container">

        <div class="blog-header">
            <h1 class="blog-title">The Bootstrap Blog</h1>
            <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
        </div>

        {% block body %}{% endblock %}

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            {{ render(controller('BlogMainBundle:Default:sidebarAbout')) }}
            {{ render(controller('BlogMainBundle:Default:socialLinks')) }}
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->

        {{ render(controller('BlogMainBundle:Default:footer')) }}

        {% javascripts
        '@BlogMainBundle/Resources/public/bootstrap/js/bootstrap.min.js'
        '@BlogMainBundle/Resources/public/js/jquery-1.11.3.min.js'
        output='assets/js/compiled/main.js'
        %}
        <script async type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}
            <script type="text/javascript"></script>
        {% endblock javascripts %}
</body>
</html>
