{% extends '::adminBase.html.twig' %}
{% set title = 'Show Tag' %}
{% set panel = 1 %}
{% block body -%}
    <table class="table table-striped table-bordered table-hover record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{{ entity.dateCreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Lastedited</th>
                <td>{{ entity.lastEdited|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ entity.enabled }}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{{ entity.deleted }}</td>
            </tr>
            <tr>
                <th>Posts</th>
                <td>
                    {% for post in entity.posts %}
                        {{ post.title }}<br/>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
    <ul class="record_actions">
        <li>
            <a href="{{ path('tag') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('tag_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
