{% extends '::adminBase.html.twig' %}
{% set title = 'Users' %}
{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">
        {{ title }}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <table class="table table-striped table-bordered table-hover records_list" id="dataTables">
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_user_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_user_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
        </div>
    </div>
    {% endblock %}
