{% extends 'base.html.twig' %}
{% block body %}

    <div class="blog-header">
        <h1 class="blog-title">The Bootstrap Blog</h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">
                <h2 class="blog-post-title">{{ post.title }}</h2>
                <p class="blog-post-meta">{{ post.dateCreated|date('Y-m-d') }} by <a href="#">{{ post.createdBy.userName }}</a></p>

                <p>{{ post.body }}</p>


            </div><!-- /.blog-post -->

        <nav>
            <ul class="pager">
                {% if post.id != 1 %}
                    <li><a href="{{ path('blog_main_post', { id : post.id - 1}) }}">Previous</a></li>
                {% endif %}
                <li><a href="{{ path('blog_main_post', { id : post.id + 1}) }}">Next</a></li>
            </ul>
        </nav>

    </div><!-- /.blog-main -->


{% endblock body %}
